<li>
  <span class="content"><%= wrap(micropost.content) %></span>
  <span class="timestamp">
    <!-- Rails helper -->
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <%= render partial: "shared/delete_link", locals: {object: micropost} %>
</li>